JSF Tag Library Usage

 Use the JSF Tag Library within your WAR by including under <<<dependencies>>>:

+--
<dependency>
    <groupId>be.e-contract.ethereum-resource-adapter</groupId>
    <artifactId>ethereum-jsf</artifactId>
    <version>${project.version}</version>
</dependency>
+--

 Add the following namespace definition to your XHTML pages to start using the JSF library:

+--
xmlns:eth="urn:be:e-contract:ethereum:jsf"
+--